// ==========================================================================
// Custom variables
// ==========================================================================

// --- paths ---
$roboto-font-path: 			"../node_modules/materialize-css/fonts/roboto/" !default;
$mdi-font-path:        	"../node_modules/mdi/fonts" !default;
$fa-font-path:        	"assets/fonts" !default;

$app-primary-color: 	#000;
$app-secondary-color: #888;
