// --- FLEX ---

app-flex {
  @extend .app-full-height;
  
  .container {
    @extend .app-full-height;
    background-color: silver;
    
    .app-flex-wrapper {
      display: flex;
      overflow-y: auto;
      //height: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      //flex-flow: row nowrap;
      //justify-content: space-between;
      //align-items: stretch;
      //align-content: stretch;

      div {
        flex: auto;
        align-self: stretch;
        //height: 100%;
        
        &:nth-child(2) {
          flex-basis: 200px;
          //align-self: stretch;
        }
        span {
          display: block;
          padding: 50px 0; 
        }
      }
    }
  }
}