<mz-navbar>
  <!--<a href="#" class="brand-logo">Logo</a>-->
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item routerLink="typescript" routerLinkActive="active" #typescript="routerLinkActive" [active]="typescript.isActive">
      <a  routerLink="typescript">Typescript</a>
    </mz-navbar-item>
    <mz-navbar-item routerLink="search" routerLinkActive="active" #search="routerLinkActive" [active]="search.isActive">
      <a  routerLink="search">Search</a>
    </mz-navbar-item>
    <mz-navbar-item routerLink="flex" routerLinkActive="active" #flex="routerLinkActive" [active]="flex.isActive">
      <a  routerLink="flex">Flex</a>
    </mz-navbar-item>
    <mz-navbar-item routerLink="table" routerLinkActive="active" #table="routerLinkActive" [active]="table.isActive">
      <a routerLink="table">Table</a>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>