// --- HEROES ---

app-root {
  .app-nav {
    a {
      @extend .grey.lighten-3, .grey-text;
      &.active {
        @extend .grey.darken-3, .white-text;
      }
    }
  }
  
  app-heroes {
    ul {
      li {
        margin-bottom: 5px;
        width: 15rem;
        cursor: pointer;
        border-radius: 2px;
        @extend .blue;
        padding-right: 10px;

        a {
          @extend .white-text;
          display: inline-block;
          padding: 5px 10px;

          &:hover {
            @extend .blue.darken-3;
          }
        }
        
        .mdi-close-circle {
          color: color('blue', 'lighten-4');
        }
      }
    }
  }

  app-hero-detail {
    .app-detail-wrapper {
      margin-top: 20px;

      div {
        &:last-child {
          padding: 10px 20px;

          @extend .blue-grey, .lighten-5;
        }
      }
    }
  } 
}