<mz-navbar [navbarClass]="'blue'">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<a href="#" class="brand-logo">Logo</a>
				<mz-navbar-item-container [align]="'right'">
					<mz-navbar-item routerLink="home" routerLinkActive="active" #home="routerLinkActive" [active]="home.isActive">
						<a routerLink="home">Home</a>
					</mz-navbar-item>
					<mz-navbar-item routerLink="search" routerLinkActive="active" #search="routerLinkActive" [active]="search.isActive">
						<a routerLink="search">Search</a>
					</mz-navbar-item>
					<mz-navbar-item routerLink="info" routerLinkActive="active" #info="routerLinkActive" [active]="info.isActive">
						<a routerLink="info">Info</a>
					</mz-navbar-item>
				</mz-navbar-item-container>
			</div>
		</div>
	</div>
</mz-navbar>